
<link href="~/css/bannercss.css" rel="stylesheet" />



<div id="banner-Container" style="height: 80vh;">

    <div class="banner-container-text">
        <h1>Discover Your Favourite Perfume!</h1>
        <p>Our perfume smell better when you need it.</p>
        <button>SHOP NOW</button>
    </div>

</div>