<style>
    .feature-section {
        background-color: #a5651a; 
        color: white;
        padding: 10px 0;
    }

    .feature-item {
        text-align: center;
        padding: 8px;
    }

        .feature-item i {
            font-size: 25px;
            color: white;
            margin-bottom: 8px;
        }

        .feature-item h5 {
            font-weight: bold;
        }

        .feature-item p {
            margin: 0;
        }
</style>
<div class="container-fluid feature-section mt-2">
    <div class="row">
        <!-- First Item -->
        <div class="col-md-4 feature-item">
            <i class="fas fa-truck"></i> 
            <h5>Free Easy Returns</h5>
            <p>Around the Clock Assistance</p>
        </div>
        <!-- Second Item -->
        <div class="col-md-4 feature-item">
            <i class="fas fa-headset"></i> 
            <h5>24/7 Online Support</h5>
            <p>Guidance Around the Clock</p>
        </div>
        <!-- Third Item -->
        <div class="col-md-4 feature-item">
            <i class="fas fa-droplet"></i> 
            <h5>All Day Support</h5>
            <p>Because Your Satisfaction Matters</p>
        </div>
    </div>
</div>