<link href="~/css/topcategory.css" rel="stylesheet" />

@model IEnumerable<ProductCategory>
<div class="container" style=" height:50vh;">

    <h1>Top Category</h1>

    <ul class="productList">
        @foreach(var category in Model)
        {
            <li>
                <img src="~/images/base perfume.png" />
                @category.CategoryName
                <a href="~/Product/GetAllProduct"><i class="bi bi-arrow-right-short"></i>
                    Discover More
            </a>
            </li>
        }
    </ul>
</div>
