<link href="~/css/TrendingPerfume.css" rel="stylesheet" />

<div class="trending-section mt-3">
    <div class="container">
        <h2 class="text-center mb-4">Trending Perfumes</h2>

        <!-- Tabs Navigation -->
        <ul class="nav nav-tabs justify-content-center mb-4" id="productTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="featured-products-tab" data-toggle="tab" href="#featured-products" role="tab">Featured Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="latest-products-tab" data-toggle="tab" href="#latest-products" role="tab">Latest Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="best-sellers-tab" data-toggle="tab" href="#best-sellers" role="tab">Best Seller Products</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="productTabsContent">
            <!-- Featured Products -->
            <div class="tab-pane fade show active" id="featured-products" role="tabpanel">
                <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/productimages/f676e654-4f58-4972-8d5d-d02772a76ca5_perfume-1.jpg" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Moonlit Serenade</h5>
                                <p class="price">₹1499.00</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/productimages/adaea43f-8959-4e4e-89d6-3dc54e9832f1_black-white.jpg" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Ethereal Charm</h5>
                                <p class="price">₹799.00</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/productimages/768e8b7f-1f45-4efd-90be-dc9aecb092b6_base perfume.png" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Mystical Mirage</h5>
                                <p class="price">₹299.90</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-alt"></i><i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Latest Products -->
            <div class="tab-pane fade" id="latest-products" role="tabpanel">
                <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/productimages/images.jpg" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Moonlit Serenade</h5>
                                <p class="price">₹1499.00</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/productimages/product-jpeg.jpg" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Ethereal Charm</h5>
                                <p class="price">₹289.00</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/trending/2_911e0fe1-54e0-4734-b7c0-fc89c88df07c.jpg" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Mystical Mirage</h5>
                                <p class="price">₹159.90</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-alt"></i><i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Best Seller Products -->
            <div class="tab-pane fade" id="best-sellers" role="tabpanel">
                <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/trending/villainhydralistingimage_1080x1080_02.jpg" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Moonlit Serenade</h5>
                                <p class="price">₹1099.00</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/trending/villain-website-banner-1080x1080-100ml-04-668.jpg" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Ethereal Charm</h5>
                                <p class="price">₹199.00</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="col-md-4">
                        <div class="card product-card">
                            <div class="product-container">
                                <span class="sale-badge">Online Only<br>New<br>On Sale!</span>
                                <img src="~/images/productimages/product-jpeg.jpg" class="card-img-top" alt="Product Image" style="max-width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Mystical Mirage</h5>
                                <p class="price">₹379.90</p>
                                <div class="rating">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-alt"></i><i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
